{% extends 'website/base/base.html' %} {% load static %} {% block title %} {% load static %}
<title>书市</title>
{% endblock %}
<!-- 导航菜单-->
{% block nav_menu %} {% include "website/base/nav_menu.html" %} {% endblock %}

<!-- 刊头-->

{% block masthead %}
<header class="masthead">
    <div class="container justify-content-center mt-3">
        {% include "website/components/search_book.html" %}
        {% include "website/components/chapter_list_item.html" %}
    </div>
</header>
{% endblock %}

<!-- About-->
{%block content %}

{% endblock %}
<!-- Footer-->
{% block footer %}{% include "website/base/footer.html" %}{% endblock %}