{% extends 'website/base/base.html' %} {% load static %} {% block title %} {% load static %}
<title>个人中心</title>
{% endblock %}
<!-- 导航菜单-->
{% block nav_menu %} {% include "website/base/nav_menu.html" %} {% endblock %}

<!-- 刊头-->

{% block masthead %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="jumbotron">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-sm btn btn-primary">退出</button>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<!-- About-->
{%block content %}{% endblock %}
<!-- Footer-->
{% block footer %}{% include "website/base/footer.html" %}{% endblock %}