{% load static %}
<section id="chapterlist" class="contact-section" style="margin-top: -1rem;">
    <div class="container px-4 px-lg-5">
        {% for chapt in chapters %}
        <div class="row gx-4 gx-lg-5 mb-2 shadow ">
            <div class="col-md-2 h-80">
                {% comment %} <img height=100 width=100 src="{{chapt.cover}}" alt="..."> {% endcomment %}
            </div>
            <div class="col-md-8">
                <div class="card-body p-0">
                    <h5 class="card-title mb-0">{{chapt.title|title}}</h5>
                    <p class="card-text mb-1"><small class="text-muted">{{chapt.author}}</small></p>
                    <p class="card-text text-sm">{{chapt.desc|slice:":74"|cut:"<br/>"}}...</p>
                    <p class="card-text"><small class="text-muted">{{chapt.markup}}</small></p>
                </div>
            </div>
            <div class="col-md-2">
                <a class="btn btn-info btn-sm" href="{% url 'website:chapter_detail' chapt.id %}">详情</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            {% if page_obj.has_previous %}
              <a class="page-link" href="?page=1#chapterlist">&laquo; 首页</a>
            {% endif %}
          </li>
          <li class="page-item">
            {% if page_obj.has_previous %}
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}#chapterlist">上一页</a>
            {% endif %}
          </li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a>
          </li>
          <li class="page-item">
            {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.next_page_number }}#chapterlist">下一页</a>
            {% endif %}
          </li>
          <li class="page-item">
            {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}#chapterlist">尾页 &raquo;</a>
            {% endif %}
          </li>
        </ul>
      </nav>
</section>